<div class="text-center mt-5">

	<h2>Sistema de Matrícula</h2>

	<a href="/Auth/Login" class="btn btn-purple m-3">
		Ingresar como Estudiante
	</a>

	<a href="/AdminAuth/Login" class="btn btn-dark m-3">
		Ingresar como Administrador
	</a>

</div>